<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    outline: 0;
    text-decoration: none;
}
img{
    border: 0;
=======
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    outline: 0;
    text-decoration: none;
}
img{
    border: 0;
>>>>>>> 33e3511e099fa5973a9ed91f5d96e19f31ee5748
}